@import "variables";

.hbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &--centering {
    align-items: center;
  }

  &--viewport {
    flex: 1;
    height: 100%;
  }
}

.vbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &--centering {
    align-items: center;
  }

  &--viewport {
    flex: 1;
    height: 100%;
  }
}
