@import "variables";

a, a:link, a:visited, a:active {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

a {
  transition: color 0.2s ease-in-out;
}

a, a:link, a:visited {
  color: $primary-color;
}

a:hover, a:active {
  color: $primary-color-lighter;
}
