<div class="flex flex-col text-gray-700 text-center mt-2">
  <% if controller_name == 'registrations' and action_name == 'new' %>
    <%= link_to 'Sign in', new_hacker_session_path, class: 'underline' %>
  <% end %>

  <% if controller_name != 'passwords' and controller_name != 'registrations' %>
    <%= link_to 'Register', new_hacker_registration_path, class: 'underline' %>
    <%= link_to 'Forgot your password?', new_hacker_password_path, class: 'underline' %>
  <% end %>
</div>
