@import "../variables";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: {
    family: $body-font-family;
    size: nth($font-sizes, 1);
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
  font-size: inherit;
  padding: 0;
  border: none;
  margin: 0;
}

a {
  text-decoration: none;
}
