<% if model.errors.any? %>
  <div>
    <%= pluralize(model.errors.count, "error") %> <%= model.errors.count == 1 ? 'was' : 'were' %> encountered while trying to save:
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
