<% if resource.errors.any? %>
  <div class="flex flex-col text-red-700 mb-4">
    <%= pluralize(resource.errors.count, 'error') %> <%= resource.errors.count == 1 ? 'was' : 'were' %> encountered while trying to save:
    <ul class="list-disc pl-4">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
