<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
      header {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid 2px black;
        margin-bottom: 10px;
      }

      header h1 {
        font-size: 30px;
      }

      header img {
        display: block;
        width: 100px;
        margin: 0 auto;
      }

      h1 {
        font-size: 24px;
      }
      * {
        font-size: 20px;
      }

      .body {
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1><%= @metadata.name %></h1>
      <% if @metadata.logo.attached? %>
        <%= image_tag url_for(@metadata.logo), alt: '' %>
      <% end %>
    </header>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
